<div class="container">
  <div class="row">
  <%= render 'shared/profile', user: @user %>
    <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
         <tr>
           <td><% @books.each do |book| %>
         <% if @user.image.attached? %>
           <%= image_tag @user.image, size: "width, height" %>
         <% else %>
           <%= image_tag 'no_image', size: "width, height" %>
        <% end %></td>
           <td><%= book.title %></td>
           <td><%= book.body %></td>
         </tr>
        <% end %>
       </body>
     </table>
    </div>
  </div>
</div>